<div class="container">
  <div class="row mt-5">
    <% if end_user_signed_in? %>
    <div class="col-md-3 mt-1"><%= render "end_user_info",end_user: @end_user %></div>
    <div class="col-md-9">
    <%elsif%>
    <div class="col-md-12">
    <%end%>
      <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
      <p class="text-center marker-border-blue h3">今年度の開催レース</h>
      <table class="table mt-4">
        <thead>
          <tr>
            <th class="text-center">開催日</th>
            <th class="text-center">大会名</th>
            <th class="text-center">申し込み状況</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <% @races.each do |race| %>
          <tr>
            <td class="text-center"><%= race.date.strftime('%Y/%m/%d') %></td>
            <td class="text-center"><%= link_to race.name,race.link %></td>
            <% if race.get_race_situation(race) == "0" %>
              <td class="text-center">申し込み受付中</td>
            <% end %>
            <% if race.get_race_situation(race) == "1" %>
              <td class="text-center">申し込み終了</td>
            <% end %>
            <% if race.get_race_situation(race) == "2" %>
              <td class="text-center">大会終了</td>
            <% end %>
            <td class="text-center"><%=link_to "過去のレビューを見る",review_path(race),class: "btn btn-outline-primary" %></td>
            <% if race.get_race_situation(race) == "2" %>
              <td class="text-center"><%=link_to "レビューを書く",new_review_path %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>