<div class="container">
  <% unless end_user_signed_in? %>
    <%= link_to 'ゲストログインはこちら（閲覧用）', public_guest_sign_in_path, method: :post ,class: "mt-4 btn btn-info"%>
  <% end %>
  <div class="main-container"></div>
  <div class="row mt-2">
    <% if end_user_signed_in? %>
      <div class="col-md-3 mt-1"><%= render "end_user_info",end_user: @end_user %></div>
      <div class="col-md-9">
    <%elsif%>
      <div class="col-md-12">
    <%end%>
      <p class="text-center marker-border-blue h3">今年度の開催レース</h>
      <table class="table mt-4">
        <thead>
          <tr>
            <th class="text-center">開催日</th>
            <th class="text-center">大会名</th>
            <th class="text-center">申し込み状況</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <% @races.each do |race| %>
          <tr>
            <td class="text-center"><%= race.date.strftime('%Y/%m/%d') %></td>
            <td class="text-center"><%= link_to race.name,race.link %></td>
            <% if race.get_race_situation(race) == "0" %>
              <td class="text-center">申し込み受付中</td>
            <% elsif race.get_race_situation(race) == "1" %>
              <td class="text-center">申し込み終了</td>
            <% elsif race.get_race_situation(race) == "2" %>
              <td class="text-center">大会終了</td>
            <% else %>
              <td class="text-center">確認中</td>
            <% end %>
            <td class="text-center"><%=link_to "過去のレビューを見る",review_path(race),class: "btn btn-sm btn-outline-info" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
.main-container {
  background-image: url(<%= asset_path 'top2.jpg' %>);
  margin-top:20px;
  height:500px;
  background-position: center;

}
</style>