<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 mt-5">
        <h2 class="text-center">今年度の開催レース</h2>
        <table class="table mt-4">
          <thead>
            <tr>
              <th class="text-center">開催日</th>
              <th class="text-center">大会名</th>
              <th class="text-center">申し込み締め切り日</th>
              <th class="text-center">申し込み状況</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <% @races.each do |race| %>
              <tr>
                <td class="text-center"><%= race.date %></td>
                <td class="text-center"><%= link_to race.name,race.link %></td>
                <td class="text-center"><%= race.deadline %></td>
                <% if race.get_race_situation(race) == "0" %>
                  <td class="text-center">申し込み受付中</td>
                <% end %>
                <% if race.get_race_situation(race) == "1" %>
                  <td class="text-center">申し込み終了</td>
                <% end %>
                <% if race.get_race_situation(race) == "2" %>
                  <td class="text-center">大会終了</td>
                <% end %>
                <td><%=link_to "詳細を確認する",admin_race_path(race) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p><%=link_to "レースを登録する", new_admin_race_path %></p>
      </div>
  </div>
</div>