<!--コメント一覧-->
  <% if review.review_comments.count == 0 %>
    <p>No Comment</p>
  <% else %>
  <h6 class="text-right ml-2 h6">コメント：<%= review.review_comments.count %>件</h6>
    <% review.review_comments.each do |review_comment| %>
      <span class="under_line">
        <%if end_user_signed_in?%>
          <%= link_to review_comment.end_user.name,end_user_path(review_comment.end_user) %>さんからのコメント
        <% else %>
          <%= link_to review_comment.end_user.name,admin_end_user_path(review_comment.end_user) %>さんからのコメント
        <% end %>
      </span>
        <% if review_comment.end_user == current_end_user%>
          <%= link_to "削除する", review_review_comment_path(review,review_comment), class: "btn btn-sm btn-outline-danger mx-2",
              method: :delete, remote: true, "data-confirm" => "本当に削除しますか？" %>
        <% elsif admin_signed_in? %>
           <%= link_to "削除する",  admin_review_review_comment_path(review,review_comment), class: "btn btn-sm btn-outline-danger mx-2 ",
              method: :delete, remote: true, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
        <p><%= review_comment.text %></p>
      <hr>
    <% end %>
  <% end %>
 <!--コメント一覧終わり-->