  <!--個人評価-->
  <div class ="text-center">
  <p class>総合評価：<span id="score-rate-<%= review.id %>"></span> (<%=review.score.round(2)%>点)</p>
  <table class="table table-borderless">
  <tbody>
    <tr>
       <th class="th_width">レベル</th>
       <td class="td1_width">初心者向け</td>
       <td class="td2_width"><span id="level-rate-<%= review.id %>"></span></td>
       <td class="td3_width">上級者向け</td>
    </tr>
    <tr>
      <th class="th_width">コース</th>
      <td class="td1_width">平坦</td>
      <td class="td2_width"><span id="course-rate-<%= review.id %>"></span></td>
      <td class="td3_width">起伏あり</td>
    </tr>
    <tr>
      <th class="th_width">水質</th>
      <td class="td1_width">濁りなし</td>
      <td class="td2_width"><span id="water-rate-<%= review.id %>"></span></td>
      <td class="td3_width">濁りあり</td>
    </tr>
    <tr>
      <th class="th_width">観光</th>
      <td class="td1_width">少ない</td>
      <td class="td2_width"><span id="sightseeing-rate-<%= review.id %>"></span></td>
      <td class="td3_width">多い</td>
    </tr>
  </tbody>
  </table>
</div>
<script>
  document.addEventListener("turbolinks:load", function(){
   $('#score-rate-<%= review.id %>').empty();
   $('#score-rate-<%= review.id %>').raty({
        size: 36,
        starOff: "<%= asset_path('star-off.png') %>",
        starOn: "<%= asset_path('star-on.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.score %>,
    });
   $('#level-rate-<%= review.id %>').empty();
   $('#level-rate-<%= review.id %>').raty({
        size: 36,
        starOff: "<%= asset_path('review-off.png') %>",
        starOn: "<%= asset_path('review-on.png') %>",
        starHalf: "<%= asset_path('review-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.level%>,
    });
   $('#course-rate-<%= review.id %>').empty();
   $('#course-rate-<%= review.id %>').raty({
        size: 36,
        starOff: "<%= asset_path('review-off.png') %>",
        starOn: "<%= asset_path('review-on.png') %>",
        starHalf: "<%= asset_path('review-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.course %>,
    });
    $('#water-rate-<%= review.id %>').empty();
    $('#water-rate-<%= review.id %>').raty({
        size: 36,
        starOff: "<%= asset_path('review-off.png') %>",
        starOn: "<%= asset_path('review-on.png') %>",
        starHalf: "<%= asset_path('review-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.water %>,
    });
    $('#sightseeing-rate-<%= review.id %>').empty();
    $('#sightseeing-rate-<%= review.id %>').raty({
        size: 36,
        starOff: "<%= asset_path('review-off.png') %>",
        starOn: "<%= asset_path('review-on.png') %>",
        starHalf: "<%= asset_path('review-half.png') %>",
        half: true,
        readOnly: true,
        score: <%= review.sightseeing %>,
    });
  })
</script>