<div class= "border mt-3">
  <div class="row">
    <div class="col-md-6 text-center py-4 px-5">
      <%= image_tag race.race_image,class: "img-fluid " %>
    </div>
    <div class="col-md-6">
      <p class="h5 text-center mt-3 mx-3">
        <% if admin_signed_in? %>
          <%= link_to race.name,admin_review_path(race) %><br>
          <%= link_to "大会情報を変更する",edit_admin_race_path(race),class: "btn btn-sm btn-outline-info my-1"%>
        <% elsif end_user_signed_in? %>
          <%= link_to race.name,review_path(race) %><br>
          <span id="favorite_buttons_<%= race.id %>">
            <%= render "public/race_favorites/race_favorite", race: race %>
          </span>
          <%=link_to "レビューを書く",new_review_path(race_id: race.id), class: "btn btn-sm btn-primary mx-2 my-3" %>
        <% else %>
          <%= link_to race.name,new_end_user_session_path %>
        <% end %>
      </p>
      <p class="text-left mx-3">レビュー件数：<%=race.reviews.count %>　お気に入り件数：<span id="favorite_count_<%=race.id%>"><%= race.race_favorites.count %></span></p>
        <% if (race.reviews.count) >= 1 %>
          <p class="text-left mx-3">総合評価：<span id="ave-score-rate-<%= race.id %>"></span></p>
          <script>
           document.addEventListener("turbolinks:load", function(){
             $('#ave-score-rate-<%= race.id %>').empty();
             $('#ave-score-rate-<%= race.id %>').raty({
                 size: 36,
                 starOff: "<%= asset_path('star-off.png') %>",
                 starOn: "<%= asset_path('star-on.png') %>",
                 starHalf: "<%= asset_path('star-half.png') %>",
                 half: true,
                 readOnly: true,
                 score: <%= race.reviews.average(:score) %>,
             });
           })
          </script>
        <% end %>
    </div>
    <p class="text-left mx-5"><%=race.introduction %></p>
  </div>
</div>