<div class= "border mt-3">
  <div class="row">
    <div class="col-md-3">
     <%= image_tag race.get_race_image(150,150),class: "mx-auto d-block" %>
    </div>
    <div class="col-md-9">
     <p class="h4 text-center mr-5 mt-2">
      <%= link_to race.name,review_path(race) %>
      <% if end_user_signed_in? %>
         <span id="favorite_buttons_<%= race.id %>">
          <%= render "public/race_favorites/race_favorite", race: race %>
         </span>
      <% end %>
     </p>
     <p class="text-center mr-5">レビュー件数：<%=race.reviews.count %>　お気に入り件数：<span id="favorite_count_<%=race.id%>"><%= race.race_favorites.count %></span></p>
     <% if (race.reviews.count) >= 1 %>
      <p class="text-center mr-5">総合評価：<span id="ave-score-rate-<%= race.id %>"></span></p>
        <script>
         document.addEventListener("turbolinks:load", function(){
           $('#ave-score-rate-<%= race.id %>').empty();
           $('#ave-score-rate-<%= race.id %>').raty({
               size: 36,
               starOff: "<%= asset_path('star-off.png') %>",
               starOn: "<%= asset_path('star-on.png') %>",
               starHalf: "<%= asset_path('star-half.png') %>",
               half: true,
               readOnly: true,
               score: <%= race.reviews.average(:score) %>,
           });
         })
        </script>
      <% end %>
      <p class="text-center mr-5"><%=race.introduction %></p>
    </div>
  </div>
</div>