<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <p class="text-center marker-border-blue"><span class="h4"><%= @race.name %></span>(<%= @reviews.count %>件のレビュー)</p>
    </div>
  </div>
  <!--レビュー平均始め-->
  <div class="row">
    <div class="col-md-6 ">
      <p class="text-left">開催地：<%= @race.venue %></p>
      <p class="text-left">出場費：<%= @race.cost %> 円</p>
      <p class="text-left">開催種目：<%= @race.categorie %></p>
      <p class="text-left">詳しくは下記を参照してください</p>
      <p class="text-left">公式サイト：<%= link_to @race.name,@race.link %></p>
    </div>
    <div class="col-md-6">
      <% if @race.reviews.count >=1 %>
      <%= render 'avarage', race: @race,ave_score: @ave_score, ave_level: @ave_level,
      ave_course: @ave_course, ave_water: @ave_water, ave_sightseeing: @ave_sightseeing %>
      <% end %>
    </div>
  </div>
  <!--レビュー平均終わり-->
  <!--個人レビュー始め-->
  <div class ="row">
    <% @reviews.each do |review| %>
      <div class="col-sm-12 col-lg-3 border mt-3">
        <%= image_tag review.end_user.get_end_user_image(180,180), class: "mx-auto d-block mt-3"%>
        <p class="text-center"><%= link_to review.end_user.name,end_user_path(review.end_user) %>さん</p>
        <p class="text-center">投稿日:<%= review.created_at.strftime('%Y/%m/%d')%></p>
        <% if review.end_user == current_end_user %>
          <p><%= link_to "投稿を編集する",edit_review_path(review),class: "btn btn-sm btn-outline-secondary btn-block"%><p>
          <p><%= link_to "投稿を削除する",review_path(review), class: "btn btn-sm btn-outline-danger btn-block",
              method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </p>
        <% end %>
      </div>
      <div class="col-sm-12 col-lg-9 border mt-3 ">
        <p class="text-left h4 mt-2 ml-3">
          <%= review.title %>
          <span id="favorite_buttons_<%= review.id %>">
            <%= render "public/review_favorites/review_favorite",review: review %>
          </span>
        </p>
        <div class ="row">
          <div class="col-md-7">
            <%= render "personal_star",review: review %>
          </div>
          <div class="col-md-5">
            <%= image_tag review.get_review_image(240,240), class: "mx-auto d-block"%>
          </div>
        </div>
        <p class="text-left mx-2"><%= review.comment %></p>
        <hr>
        <div id="review_comments_<%= review.id %>">
          <!--コメント一覧-->
          <%= render partial: 'comments', locals: { review: review } %>
        </div>
          <!--コメント入力-->
        <% if current_end_user.is_deleted == false%>
          <%= form_with model: ReviewComment,url:review_review_comments_path(review), local: false do|f| %>
            <div class="row mb-2">
              <div class="col-md-10">
                <%= f.text_field :text, autocomplete: "text", class: "form-control my-2",placeholder: 'コメント' %>
              </div>
              <div class="col-md-2 text-center">
                <%= f.submit '投稿する', class: "btn btn-info my-2" %>
              </div>
            </div>
            <%= f.hidden_field :end_user_id, value: current_end_user.id %>
            <%= f.hidden_field :review_id, value: review.id %>
          <% end %>
        <% else %>
          <p class="text-center text-danger">このアカウントは管理者によってコメントの投稿を停止しております。</p>
        <% end %>
      </div>
    <% end %><!--個人レビュー終わり-->
  </div>
  <p class="mt-3"><%= paginate @reviews %></p>
  <div class="text-center m-5"><%=link_to "一覧に戻る",reviews_path,class: "btn btn-primary"%></div>
</div>