<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <p class="text-left"><span class="h4"><%= @race.name %></span>(<%= @reviews.count %>件のレビュー)</p>
    </div>
  <div class="row">
    <div class="col-md-6">
      <p class="text-left">開催地：<%= @race.venue %></p>
      <p class="text-left">出場費：<%= @race.cost %> 円</p>
      <p class="text-left">開催種目：<%= @race.categorie %></p>
      <p class="text-left">詳しくは下記を参照してください</p>
      <p class="text-left">公式サイト：<%= link_to @race.name,@race.link %></p>
    </div>
    <div class="col-md-6">
      <p class="text-left">総合評価：<%= @ave_score %>点</p>
      <p class="text-left">大会レベル：<%= @ave_revel  %> </p>
      <p class="text-left">コースの起伏：<%= @ave_course %></p>
      <p class="text-left">水質：<%= @ave_water %></p>
      <p class="text-left">観光：<%= @ave_sightseeing %></p>
    </div>
  </div>
  
  <div class="row">
  </div>
</div>